.boards {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.boards__add-form {
    display: inline-flex;
    width: 250px;
    height: 125px;
    background-color: #e2e4e6;
    color: #838c91;
    margin: 0 15px 15px 0;
    border-radius: 10px;
    padding: 10px 0 0 10px;
}

.boards__add-form .add-form__label {
    margin-right: 10px;
}

.boards__add-form .form-container {
    margin-right: 10px;
}