.board {
    height: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    white-space: nowrap;
}

.board__name {
    font-size: 20px;
    margin: 10px 30px;
    color: white;
}

.board .add-form {
    width: 275px;
    border-radius: 10px;
}

.board__add-form {
    display: inline-block;
    width: 275px;
    margin-left: 10px;
    border-radius: 10px;
    vertical-align: top;
}

.board .add-form--opened {
    background-color: #e2e4e6;
    padding: 10px
}

.board__add-form .add-form__label {
    border-radius: 10px;
    background-color: #1e6aa7;
    color: #b7d2e5;
}