.column {
    display: inline-block;
    width: 275px;
    background-color: #e2e4e6;
    margin-left: 15px;
    border-radius: 10px;
    padding: 15px;
    height: 80%;
    overflow-y: scroll;
}

.column__card-list {

}

.column__column-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}